body
{
    color: red;
    text-align: center;
    font-family: "Arial";
}
#cabecera
{
    background: #33a;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin:0;
    padding: 0.5em;
}
#cabecera #tagline
{
    color:white;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid;
    margin: 0 auto;
}
#container h1
{

    text-align: center;
    color:deepskyblue;
    font-size: 30px;
}
#container p
{
    color:firebrick;
    font-size: 25px;
}
#container2
{   
    width:70%;
    padding: 1em;
    border: 1px solid;
    margin:0 auto;
}
#container2 h2
{
    color: deepskyblue;
    text-align:center;
    font-size: 30px;
}
#container2 p1
{
    color:green;
    font-size: 25px;
}